body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url(/img/porsche_museum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    z-index: 0;

}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.world_map{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background-image: url(/img/36479.svg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity:  100%;
    backdrop-filter: blur(5px);
    z-index: 1;


}

.allselection{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

}

.pays{
    position: absolute;
    top: 15vh;
    height: 15vh;
    width: 20vh;
    background-color: red;
    z-index: 3;
}

.pay{
    height: 15vh;
    width: auto;
    background-color: violet;
    position: relative;
    display: inline-block;
    justify-content: center;
    vertical-align: middle;
}

.imgpays{
    height: 10vh;
    width: 10vh;

    position: relative;
    top: 15vh;
    left: 15vh;

    
}


.txtpays{
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    position: relative;
    top: 15vh;
    left: 15vh;

    
}

.marques{
    position: absolute;
    top: 12vh;
    left: 45vh;
    width: 70%;
    z-index: 3;

}

.marque{
    height: 15vh;
    width: 15vh;
    opacity: 100%;
    margin: 1%;
    padding: 3%;
    position: relative;     
    display: inline-block;
    justify-content: center;
    vertical-align: middle;

}

.boutondiv{
    height: 100%;
    width: 100%;

}

a{
    height: 100%;
    width: 100%;

}

.logoimg{
    color: black;
    height: 15vh;
    width: 15vh;
    filter: brightness(0) invert(1) grayscale(100%) sepia(0%) saturate(0%);

}

.noir{
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 35%;
    z-index: 2;

}

.buttonback{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 50px;
    height: 10vh;
    width: 10vh;
    display: inline-block;
    justify-content: center;
    vertical-align: middle;
    border-radius: 50%;
    outline: 4px solid white;
    z-index: 5;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 100px;
    backdrop-filter: blur(1px);

}

.buttonback:hover{
    box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 90px;
    outline: 5px solid white;
    backdrop-filter: blur(3px);
}

.imgback{
    position: relative;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
}
